*.class
*.jar
Release/
Debug/
CoreLog*.txt
*.vcxproj
*.vcxproj.user
.cdtbuild*
*.vcxproj.filters
*.suo
UpgradeLog*.XML
Win32/
*.lib
*.obj
*.o
*.d
*.exe
*.dll
build/
*.props
*UpgradeReport*/
MMCoreJ_wrap/mmcorej/*.java
*.idb
*.pdb


