#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

#My Own
*.class
*.jar
Release/
Debug/
CoreLog*.txt
*.vcxproj
*.vcxproj.user
.cdtbuild*
*.vcxproj.filters
*.suo
UpgradeLog*.XML
Win32/
*.lib
*.obj
*.o
*.d
*.exe
*.dll
build/
*.props
*UpgradeReport*/
MMCoreJ_wrap/mmcorej/*.java
*.idb
*.pdb
*.sln
*.vcproj
bin_Win32/
lib_Win32/
DeviceAdapters/DVCCamera/Docs
*_wrap/*_wrap.cxx
*_wrap/*_wrap.h
*_wrap/MMCorePy.py
Install_Win32/

